body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #9040d5;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}
#wrapper {
	max-width: auto;
	margin: auto;
}
header {
	padding: 2px;
	
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
	font-size: 20px;
}

.top-menu a {
	color: #b2b2b2;
}
.top-menu a:hover {
	color: black;
}
#heading {
	background: gray;
	margin: 30px 0;
	padding-left: 20px;
}

h1 {
	display: inline-block;
	color: wheat;
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
}
aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}
.aside-menu li {
	font-weight: 300;
	font-size: 20px;
	list-style-type: square;
	border-top: 2px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}
.aside-menu a {
	color: #8f8f8f;
}
.aside-menu a:hover {
	color: black;
}
blockquote {
	margin: 0;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: white;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	margin: 0;
	text-align: right;
	color: white;
}
.about {
	font-size: 20px;
}
.about1 {
	font-size: 20px;
	color: white;
}
.vk {
	position: absolute;
	top: 1%;
	left: 200px;
	display: inline-block;
}
.vk1 {
	position: absolute;
	top: 10%;
}
.tg {
	position: absolute;
	top: 45%;
}
.inst {
	position:absolute;
	top: 80%;
}
.form {
	position: absolute;
	left: 30%;
	transform: translate(60%);
}
.form-item {
	margin: 10px;
  }
  
  .form-item input {
	height: 2rem;
	width: 200px;
	
	border: 1px solid wheat;
	background-color:#b2b2b2;
	border-radius: 10px;
	padding-left: 10px;
	transition: 0.5s;
  }
  
  .form-item input:hover,
  .form-item input:focus,
  .form-item input:active {
	border: 1px solid white;
	background-color:rgba(245, 222, 179, 0.5);
	color: white;
  }
  
  
  .form-item input::placeholder {
	font-family: cursive;
  }
  
  .form-item input:hover::placeholder,
  .form-item input:focus::placeholder,
  .form-item input:active::placeholder{
	color: white;
}
.btn {
	position: absolute;
	left: 4%;
	border: 0;
	border-radius: 10px;
	background-color: #b2b2b2;
	color: #7e7e7e;
	width: 220px;
	height: 40px;
	cursor: pointer;
	transition: 1s;
  }
  .btn:hover {
	border: 1px solid black;
	background-color:rgba(245, 222, 179, 0.5);
  }